<hr>
<div class="jumbotron text-center" style="padding: 15px;">
    <p>Gmail- morla.surya11@gmail.com</p>
    <P>Follow me on</P>
    <p><a href="https://www.linkedin.com/in/surya-goud-morla-805447171/"><i class="fab fa-linkedin"></i>Linkedin</a></p>
    <P><a href="https://www.instagram.com/surya_morla/"><i class="fab fa-instagram-square"></i>Instagram</a></P>
    <p><a href="https://www.facebook.com/surya.goud.5832"><i class="fab fa-facebook-square"></i>Facebook</a></p>
    <p>©Copyrights-All rights reserved by Project store | Designed by-Morla Surya Goud</p>
</div>