<h3>Search results for "Laptops"</h3>
<div class="card-deck text-dark">
    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/l1.jpg" alt="no img" height=200px width=250px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>Lenovo Ideapad Slim 3 10th Gen Intel Core i5 15.6 inch </h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 65,887</p>
                <p>Deal Price:	₹ 57,550.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>

    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/l2.jpg" alt="no img" height=180px width=220px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>HP 15 Entry Level 15.6-inch (39.62 cms) HD Laptop </h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 35,999.00</p>
                <p>Deal Price:	₹ 29,998.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>

    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/l3.jpg" alt="no img" height=150px width=230px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>LG Gram 10th Gen Intel Core i7-1065G7 17-inch</h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 1,40,099.00</p>
                <p>Deal Price:	₹ 1,01,299.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>

    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/l4.jpg" alt="no img" height=170px width=230px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>Lenovo IdeaPad Flex 5 AMD Ryzen 7 14" Full HD IPS</h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 97,987.00</p>
                <p>Deal Price:	₹ 78,995.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>

    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/l5.jpg" alt="no img" height=220px width=210px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>Dell Inspiron 5406 14" (35.56 cms) FHD Display 2in1 Laptop</h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 81,396.00</p>
                <p>Deal Price:	₹ 56,690.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>
</div>

