<h3>Search results for "Headphones"</h3>
<div class="card-deck text-dark">
    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/hp1.jpg" alt="no img" height=200px width=200px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>Boult Audio Bass Buds Q2 Over-Ear Wired Lightweight Stereo Headphones</h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 999.00</p>
                <p>Deal Price:	₹ 550.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>

    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/hp2.jpg" alt="no img" height=200px width=140px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>OnePlus Buds (Nord Blue) </h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 5,999.00</p>
                <p>Deal Price:	₹ 4,998.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>

    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/hp3.jpg" alt="no img" height=200px width=200px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>Redragon H120 Wired Gaming Headset with Microphone</h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 1,599.00</p>
                <p>Deal Price:	₹ 1,299.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>

    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/hp4.jpg" alt="no img" height=200px width=190px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>Sony MDR-ZX110 On-Ear Stereo Headphones (Black)</h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 1,699.00</p>
                <p>Deal Price:	₹ 995.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>

    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/hp5.jpg" alt="no img" height=200px width=190px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>JBL C100SI by Harman In-Ear Deep Bass Headphones </h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 1,396.00</p>
                <p>Deal Price:	₹ 690.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>
</div>

