<div class="jumbotron" style="padding: 10px;">
    <form role="form">
        <div class="form-group text-dark">
            <label for="it" class="control-label"><b> Select Categories:</b></label><br>
            <select name="categories" id="it">
                <option value="NA">--Select--</option>
                <option for="m" value="Mob">Mobiles</option>
                <option for="l" value="Lap">Laptops</option>
                <option value="Toy">Toys</option>
                <option value="Hdph">Headphones</option>
                <option value="Sport">Spotrs</option>
            </select> <br><br>
            
            <label for="sp" class="control-label"><b> Select Item:</b></label><br>
            <select name="items" id="sp">
                <option value="NA">--Select--</option>
                <option value="NA" class="text-primary">Mobiles</option>
                <option value="Mob">New Apple iPhone 12 Mini (128GB) - White</option>
                <option id="m" value="Mob">Samsung Galaxy M12 (Blue,6GB RAM, 128GB Storage) 6000 mAh</option>
                <option id="m" value="Mob">Samsung Galaxy Tab A 8.0, Wi-Fi + 4G Tablet, 20.31 cm (8 inch)</option>
                <option id="m" value="Mob">OnePlus Nord CE 5G</option>
                <option id="m" value="Mob">Samsung Galaxy A72 (Black, 8GB RAM, 128GB Storage) with No Cost</option>

                <option value="NA" class="text-primary">Laptops</option>
                <option id="l" value="lap">Lenovo Ideapad Slim 3 10th Gen Intel Core i5 15.6 inch </option>
                <option id="l" value="lap">HP 15 Entry Level 15.6-inch (39.62 cms) HD Laptop</option>
                <option id="l" value="lap">LG Gram 10th Gen Intel Core i7-1065G7 17-inch</option>
                <option id="l" value="lap">Lenovo IdeaPad Flex 5 AMD Ryzen 7 14" Full HD IPS</option>
                <option id="l" value="lap">Dell Inspiron 5406 14" (35.56 cms) FHD Display 2in1 Laptop</option>

                <option value="NA" class="text-primary">Toys</option>
                <option id="l" value="lap"> Chicco Toy U-Go Trike Ducati (Multicolour)</option>
                <option id="l" value="lap">SHANBUYERS - Xplore the Unxplored Manual Soft Bullet Gun with 6 Foam Bullets</option>
                <option id="l" value="lap">FunBlast Shooting Bow & Arrow Toy</option>
                <option id="l" value="lap">Nerf Disruptor Elite Blaster – 6-Dart Rotating Drum, Slam Fire</option>
                <option id="l" value="lap">Mechanix Monster Buggies Toy, Age 8 to 99 Unisex</option>

                <option value="NA" class="text-primary">Headphones</option>
                <option id="l" value="lap">Boult Audio Bass Buds Q2 Over-Ear Wired Lightweight Stereo Headphones</option>
                <option id="l" value="lap">OnePlus Buds (Nord Blue) </option>
                <option id="l" value="lap">Redragon H120 Wired Gaming Headset with Microphone</option>
                <option id="l" value="lap">Sony MDR-ZX110 On-Ear Stereo Headphones (Black)</option>
                <option id="l" value="lap">JBL C100SI by Harman In-Ear Deep Bass Headphones</option>

                <option value="NA" class="text-primary">Sports</option>
                <option id="l" value="lap">Yonex Nanoray Light 18i Graphite Badminton Racquet</option>
                <option id="l" value="lap">KOOKABURRA Verve 60 Kashmir Willow Cricket Bat</option>
                <option id="l" value="lap">VOODANIA Telstar Combo Pack 1 Football & 1 pump PU material</option>
                <option id="l" value="lap">Spalding NBA MVP Basketball</option>
                <option id="l" value="lap">TIMA Sterling Professional Heavy Weight Aluminium Baseball Bat 34"</option>
            </select><br><br>

            <label for="qun" class="control-label"><b>Quantity:</b></label><br>
            <input type="number" id="qun" value="quantity"><br><br>

            <a href="/home"><button class="btn btn-warning" style="height: 50px; width: 400px;"><b>Place Order</b></button></a>
            

        </div>
    </form>
</div>
