<h3>Search results for "Sports"</h3>
<div class="card-deck text-dark">
    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/s1.jpg" alt="no img" height=200px width=250px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>Yonex Nanoray Light 18i Graphite Badminton Racquet </h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 1,887</p>
                <p>Deal Price:	₹ 3,550.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>

    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/s2.jpg" alt="no img" height=210px width=220px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>KOOKABURRA Verve 60 Kashmir Willow Cricket Bat</h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 2,999.00</p>
                <p>Deal Price:	₹ 1,998.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>

    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/s3.jpg" alt="no img" height=210px width=230px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>VOODANIA Telstar Combo Pack 1 Football & 1 pump PU material</h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 999.00</p>
                <p>Deal Price:	₹ 599.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>

    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/s4.jpg" alt="no img" height=210px width=230px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>Spalding NBA MVP Basketball</h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 787.00</p>
                <p>Deal Price:	₹ 695.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>

    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/s2.jpg" alt="no img" height=210px width=210px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>TIMA Sterling Professional Heavy Weight Aluminium Baseball Bat 34"</h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 3,496.00</p>
                <p>Deal Price:	₹ 2,390.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>
</div>

