<div class="jumbotron bg-dark" style="text-align: center; height: 700px; width: 500px; margin-left: 450px;">
<h3 class="text-light rounded">Registration</h3><hr>
                <form role="form ">
                    <div class="form-group">
                        <label for="fn" class="control-label">First Name:</label>
                        <input type="text" name="firstname" id="fn" class="form-control" placeholder="Enter First Name">

                        <label for="ln" class="control-label">Last Name:</label>
                        <input type="text" name="lastname" id="ln" class="form-control" placeholder="Enter Last Name">

                        <label for="email" class="control-label">Email:</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email">

                        <label for="un" class="control-label">User Name:</label>
                        <input type="username" name="username" id="un" class="form-control" placeholder="Enter User Name">

                        <label for="phn" class="control-label">Mobile number:</label>
                        <input type="number" name="mobileno" id="phn" class="form-control" placeholder="Enter Mobile no.">

                
                        <label for="pw" class="control-label">Password:</label>
                        <input type="password" name="password" id="pw" class="form-control" placeholder="Enter Password">
                   
                        <label for="pw1" class="control-label">ReEnter Password:</label>
                        <input type="password" name="password" id="pw1" class="form-control" placeholder="ReEnter Password">
                        <br>
         
                    <button type="submit" class="btn btn-success">Register</button>
                    <button type="reset" class="btn btn-danger">Cancel</button>
                    </div>
                </form>
                </div>
