<h3>Search results for "Mobiles"</h3>
<div class="card-deck text-dark">
    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/m1.jpg" alt="no img" height=200px width=200px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>New Apple iPhone 12 Mini (128GB) - White</h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 74,900.00</p>
                <p>Deal Price:	₹ 62,999.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>

    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/m2.jpg" alt="no img" height=200px width=120px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>Samsung Galaxy M12 (Blue,6GB RAM, 128GB Storage) 6000 mAh </h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 14,900.00</p>
                <p>Deal Price:	₹ 12,999.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>

    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/m3.jpg" alt="no img" height=200px width=200px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>Samsung Galaxy Tab A 8.0, Wi-Fi + 4G Tablet, 20.31 cm (8 inch)</h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 15,900.00</p>
                <p>Deal Price:	₹ 13,999.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>

    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/m4.png" alt="no img" height=200px width=160px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>OnePlus Nord CE 5G</h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 37,999.00</p>
                <p>Deal Price:	₹ 35,999.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>

    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/m5.jpg" alt="no img" height=200px width=150px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>Samsung Galaxy A72 (Black, 8GB RAM, 128GB Storage) with No Cost</h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 27,900.00</p>
                <p>Deal Price:	₹ 22,999.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>
</div>
