<h3>Search results for "Toys"</h3>
<div class="card-deck text-dark">
    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/t1.jpg" alt="no img" height=200px width=250px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>Chicco Toy U-Go Trike Ducati (Multicolour)</h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 5,887</p>
                <p>Deal Price:	₹ 4,550.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>

    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/t2.jpg" alt="no img" height=210px width=220px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>SHANBUYERS - Xplore the Unxplored Manual Soft Bullet Gun with 6 Foam Bullets</h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 15,999.00</p>
                <p>Deal Price:	₹ 998.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>

    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/t3.jpg" alt="no img" height=210px width=230px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>FunBlast Shooting Bow & Arrow Toy </h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 999.00</p>
                <p>Deal Price:	₹ 499.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>

    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/t4.jpg" alt="no img" height=210px width=230px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>Nerf Disruptor Elite Blaster – 6-Dart Rotating Drum, Slam Fire</h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 987.00</p>
                <p>Deal Price:	₹ 795.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>

    <div class="card">
        <div class="card-header" style="text-align: center;"><img src="./assets/Images/t5.jpg" alt="no img" height=210px width=210px></div>

        <div class="card-body">
            <div class="card-title"><b><h6>Mechanix Monster Buggies Toy, Age 8 to 99 Unisex</h6></b></div>
            <div class="card-text"><p>M.R.P.:	₹ 496.00</p>
                <p>Deal Price:	₹ 390.00</p>
                <p>Inclusive of all taxes</p>
                <div class="btn">
                    <a routerLink="/cart"><button class="btn btn-danger">buy</button></a>
                    <a routerLink="/cart"><button class="btn btn-danger">add to cart</button></a>
                </div>
            </div>
        </div>

        <div class="card-footer"><p>FREE delivery: within 2 Days</p></div>
    </div>
</div>

